<% provide :title, t("order") %>
<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="add-to-cart-button">
      <%= t "order" %>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tr>
          <th><%= t "price" %></th>
          <th><%= t "discount" %></th>
          <th><%= t "coupon" %></th>
          <th><%= t "order_status" %></th>
          <th><%= t "product" %></th>
          <th><%= t "total_price" %></th>
        </tr>
        <tr>
          <td><%= number_to_currency @support_coupon.show_price("total") %></td>
          <td>
            <%= number_to_currency @support_coupon.show_price("sale") %>
          </td>
          <td>
            <% if @order.coupon_code %>
              <%= @order.coupon_code %> -
              <%= @support_coupon.coupon.percent %>%
            <% else %>
              <%= t "no_coupon" %>
            <% end %>
          </td>
          <td><%= t "#{@order.order_status}" %></td>
          <td><%= link_to t("edit"), edit_admin_order_path(@order) %></td>
          <td>
            <b><%= number_to_currency @support_coupon.show_price("remain") %></b>
          </td>
        </tr>
        <tr>
          <th><%= t "name_order" %></th>
          <th><%= t "email" %></th>
          <th><%= t "address" %></th>
          <th><%= t "phone" %></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><%= @order.name %></td>
          <td><%= @order.email %></td>
          <td><%= @order.address %></td>
          <td><%= @order.phone %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= t "product" %></th>
          <th><%= t "quantity" %></th>
          <th><%= t "price" %></th>
          <th><%= t "discount" %></th>
          <th><%= t "total_price" %></th>
          <th><%= t "time_buy" %></th>
        </tr>
        <% @support_coupon.line_items.each do |line_item| %>
          <tr>
            <td>
              <%= link_to line_item.product.name,
                product_path(line_item.product) %>
            </td>
            <td><%= line_item.quantity %></td>
            <td><%= number_to_currency line_item.price %></td>
            <td>
              <%= number_to_currency line_item.sale_price %>
            </td>
            <td><b><%= number_to_currency line_item.remain_price %></b></td>
            <td><%= l line_item.created_at %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
