<%= form_for [:admin, product], html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label t :name_product %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label t :available %>:<br />
  <%= f.check_box :available %> <%= t :available? %><br />

  <%= f.label t :price %>
  <%= f.number_field :price, class: "form-control" %>

  <%= f.label t :description %>
  <%= f.cktext_area :description, placeholder: t("compose_new_micropost") %>

  <%= f.label :avatar %><br>
  <%= f.file_field :image %><br />

  <% if f.object.image? %>
    <%= image_tag f.object.image_url, class: "thumb" %>
    <%= f.check_box :remove_image %><%= t "remove_avatar" %>
  <% end %><br />

  <%= f.label :photo %><br />
  <%= f.fields_for :item_photos do |p| %>
    <div class="field">
      <%= render "image_fields", f: p %>
    </div>
  <% end %>

  <div class="links">
    <%= link_to_add_association t("add_image"), f, :item_photos , partial: "image_fields" %>
  </div>

  <%= f.label :brand %><br />
  <%= f.select :brand_id,
    Brand.all.collect {|brand| [brand.name, brand.id]},
    prompt: t("select") %><br /><br />

  <%= f.submit class: "btn btn-primary" %>
  <% end %>
