<table class="table table-striped table-hover sortable">
  <thead>
    <tr>
      <th><%= t "coupon" %></th>
      <th><%= t "expire" %></th>
      <th><%= t "percent" %></th>
    </tr>
  </thead>
  <tbody>
    <% coupons.each do |coupon| %>
      <tr>
        <td><%= link_to coupon.code, admin_coupon_path(coupon) %></td>
        <td><%= l coupon.expire if coupon.expire %></td>
        <td><%= coupon.percent %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
